body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
     
}

ul{
    list-style: none;
}

a{
    text-decoration: none;

}

.visually-hidden {
margin: -1px;
border: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}
/* header */

.header {
background: #FFF;
}

.studio{
color:  #2E2F42;
font-family: Raleway, sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
        
}

.header-logo{
color: #4D5AE5;
font-family: Raleway, sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.header-nav {}

.header-list-nav {
   
}

.header-item {
    
}

.header-link {
color:#2E2F42;    
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;}


.header-link:hover, .header-link:focus{
    color: #404BBF;
}        
.header-contact-list, .header-contact-item {
   
}

.header-address{
font-style: normal
}

.header-contact-item {}

.header-mail, .header-tel {
color: #434455;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}

.header-mail:hover,
.header-tel:hover,
.header-mail:focus,
.header-tel:focus {
color: #404BBF;
}

/* solutions */

.solutions {
background:#2E2F42;
}

.solutions-header {
color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
}

.solutions-button {
color: #FFF;
background:  #4D5AE5;
font-family: inherit;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;
}

.solutions-button:hover,
.solutions-button:focus{
background:#404BBF;
}
 /* Peculiarities */

.peculiarities {}

.peculiarities-list,
.peculiarities-list-item {
    
    }


.peculiarities-item-header {
color:  #2E2F42;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}

.peculiarities-item-par {
color: #434455;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}

/* team */

.team {
background:#F4F4FD;
}

.team-header {
color: #2E2F42;
text-align: center;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
}

.team-list,
.team-member {
    
}

.card {
 background-color: #FFFFFF
}

.container {
background-color: #FFFFFF
}

.team-member-name {
color: #2E2F42;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}

.team-member-job {
color: #434455;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Portfolio */

.all-pages {}

.portfolio-header {
color: #2E2F42;
text-align: center;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
}

.all,
.all-item {}
    

.card-all {}

.container-card {}

.container-header {
color: #2E2F42;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}

.container-text {
color: #434455;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}

/* footer */
.footer {
background:#2E2F42;
}

.footer-logo{
color: #4D5AE5;
font-family: Raleway, sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.studio-footer{
color: #F4F4FD;
font-family: Raleway, sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
        
}

.footer-par {
color:  #F4F4FD;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}


